{{- $v := cond (.IsNamedParams) (.Get "v") (.Get 0) }}

<a class="no_a_decoration" target="_blank" href="https://www.youtube.com/watch?v={{ $v }}">
    <svg style="height:2ch;display:inline;vertical-align: middle;"  version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 160 110" enable-background="new 0 0 160 110" xml:space="preserve">
<g>
   <g>
       <path d="M154.3,17.5c-1.8-6.7-7.1-12-13.8-13.8c-12.1-3.3-60.8-3.3-60.8-3.3S31,0.5,18.9,3.8
           c-6.7,1.8-12,7.1-13.8,13.8C1.9,29.7,1.9,55,1.9,55s0,25.3,3.3,37.5c1.8,6.7,7.1,12,13.8,13.8c12.1,3.3,60.8,3.3,60.8,3.3
           s48.7,0,60.8-3.3c6.7-1.8,12-7.1,13.8-13.8c3.3-12.1,3.3-37.5,3.3-37.5S157.6,29.7,154.3,17.5z"/>
       <polygon fill="#FFFFFF" points="64.2,78.4 104.6,55 64.2,31.6 "/>
   </g>
</g>
</svg>
</a>